.framed {
  border: solid 2px;
  padding: 0px 10px 0px 10px;
  margin: 0px 38px 24px 18px;
  box-shadow: 13px 13px 0 0 var(--bgcolor),
              15px 15px 0 0 var(--fontcolor),
              15px 11px 0 0 var(--fontcolor),
              11px 15px 0 0 var(--fontcolor);
}
